@media screen and (max-width: 767px) {
	.signup__page--box
	{
		min-height: 50vh;
		margin: 2rem auto;
		padding: 2rem 0.5rem;
		/* border: 2px solid red; */
		width: 95%;
	}
	.signup__page--form
	{
		/* border: 2px solid red; */
		width: 100%;
		padding: 0rem;
	}
	.signup__page--signup--redirect, .signup__page--greet
	{
		font-size: var(--mobile-mini-paragraph) !important;
	}
	.signup__identifier, .signup__pw, .signup__btn--submit, .signup__name, .signup__phone, .signup__address, .signup__btn--google, .district__selector, .gender__selector
	{
		height: 50px;
		width: 100%;
		padding: 0.5rem;
	}
	.signup__pw, .signup__name, .signup__phone, .signup__address, .district__selector, .gender__selector, .email__container, .pw__container, .fullname__container, .signup__phone, .signup__address
	{
		/* border: 2px solid red; */
		width: 100%;
	}
	.signin__msg
	{
		/* border: 2px solid red; */
		padding-left: 0.5rem;
	}
	.signup__phone--address, .street__gender--field, .password__fullname--field
	{
		width: 100%;
		gap: calc(var(--error-text));
	}
}
