@media screen and (max-width: 767px) {
	.order__page--container
	{
		min-height: 100vh;
		/* border: 2px solid red; */
		justify-content: space-between;
	}
	.order__page--box
	{
		width: 100%;
		/* border: 2px solid red; */
		margin: 3rem auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
	.order__page--info
	{
		border-radius: 5px;
		background-color: var(--bg);
		padding: 1rem;
		/* border: 2px solid  purple; */
		/* height: fit-content; */
		min-width: 300px;
		width: 95%;
		gap: 0.5rem;
	}
	.add__address--title, .order__summary
	{
		/* border: 2px solid green; */
		width: 100%;
		height: 40px;
		border-radius: 7px;
		background-color: var(--grey-bg);
		color: var(--dark-grey-text);
	}
	.new__address
	{
		/* border: 2px solid green; */
		flex-direction: column;
		width: 100%;
		gap: 0.5rem;
	}
	.new__address--input, .new__phone--input, .new__email--input
	{
		height: 40px;
		width: 100%;
		border-radius: 7px;
		border: 1px solid var(--line);
		padding: 0.5rem;
	}
	/* .add__btn
	{
		border-radius: 7px;
		width: 150px;
		height: 35px;
		border-color: transparent;
		background-color: var(--grey-text);
		color: var(--white-text);
	} */
	.order__page--product
	{
		/* border: 2px solid green; */
		/* flex-direction: column; */
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-around;
		gap: 0.5rem;
		align-items: center;
		padding: 0 0.5rem;
	}
	.order__page--image
	{
		width: 60px;
		filter: drop-shadow(0 5px 5px var(--grey-bg));
	}
	.order__page--invoice
	{
		/* border: 2px solid blue; */
		min-width: 300px;
		width: 95%;
		padding: 1rem;
		justify-content: center;
		align-items: flex-end;
		gap: 1rem;
		border-radius: 5px;
		background-color: var(--bg);
	}
	.order__summary
	{
		width: 100%;
	}
	.order__calculation
	{
		width: 100%;
	}
	.order__price, .order__delivery--charge, .order__total
	{
		width: 100%;
		justify-content: space-between;
		align-items: center;
		color: var(--dark-grey-text);
	}
	.place__order--btn
	{
		height: 40px;
		width: 100px;
		border-color: transparent;
		border-radius: 5px;
		background-color: var(--primary);
		color: var(--white-text);
	}
	.place__order--btn:hover, .add__btn:hover
	{
		cursor: pointer;
	}
	/* Chrome, Safari, Edge, Opera */
	.new__address input::-webkit-outer-spin-button,
	.new__address input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
	
	/* Firefox */
	.new__address input[type=number] {
	  -moz-appearance: textfield;
	}

 .order__page--product {
    padding: 8px;
  }

  .order__page--name {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .order__page--details {
    margin-bottom: 4px;
  }

  .order__page--price {
    flex-direction: column;
    align-items: flex-start;
  }

  .discount {
    margin-right: 0;
    margin-bottom: 4px;
  }

  .actual-price {
    margin-left: 0;
  }

}
