@media screen and (max-width: 767px) {
	.connectivity__section--container
	{
		margin: auto;
		margin-top: 5rem;
		margin-bottom: 0;
		padding-top: 2rem;
		padding-bottom: 2rem;
		text-align: center;
		width: 95%;
		/* border: 2px solid red; */

	}
	.connectivity__title
	{
		/* border: 2px solid red; */
		font-size: var(--mobile-title) !important;
		width: 90%;
	}
	.connectivity__subtitle
	{
		/* border: 2px solid red; */
		margin-top: 10px;
		width: 90%;
		font-size: var(--mobile-subtitle) !important;
	}
	.connectivity__info
	{
		/* border: 2px solid red; */
		font-size: var(--mobile-paragraph) !important;
		width: 90%;
	}
	.connectivity__compatibility::before
	{
		content: "";
		background: url("../../../img/features/earbud.png") no-repeat center;
		background-size: contain;
		width: 30%;
		height: 100%;
		position: absolute;
		top: 15%;
		left: -20%;
		transform: rotateZ(30deg);
		z-index: 1;
		filter: drop-shadow(0 0 10px rgba(128, 128, 128, 0.336));
		/* border: 2px solid red; */
	}
	.connectivity__compatibility::after
	{
		content: "";
		background: url("../../../img/features/earbud.png") no-repeat center;
		background-size: contain;
		width: 30%;
		height: 100%;
		position: absolute;
		bottom: 15%;
		right: -20%;
		transform: rotateZ(-30deg) scaleX(-1);
		z-index: 1;
		filter: drop-shadow(0 0 10px rgba(128, 128, 128, 0.336));
		/* border: 2px solid red; */
	}
	.connectivity__compatibility
	{
		margin-top: 2rem;
		width: 70%;
		/* border: 2px solid red; */
		position: relative;
	}
	.compatibility__image
	{
		border-radius: 7px;
		width: 100%;
		border: 1px solid var(--primary-light);
	}

	.connectivity__buy--btn:hover
	{
		cursor: pointer;
	}
	.connectivity__buy--btn
	{
		margin-top: 1rem;
		border-radius: 7px;
		background-color: var(--primary);
		/* width: 100px; */
		padding: 3px 15px;
		text-transform: capitalize;
		color: var(--white);

	}
}