.connectivity__section--container
{
	background-color: var(--bg);
	margin: 1rem;
	margin-top: 6rem;
	margin-bottom: 0;
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
	overflow: hidden;

}
.connectivity__subtitle
{
	margin-top: 20px;
}
.connectivity__info
{
	width: 400px;
}
.connectivity__compatibility::before
{
	content: "";
	background: url("../../../img/features/earbud.png") no-repeat center;
	background-size: contain;
	width: 30%;
	height: 100%;
	position: absolute;
	top: 40px;
	left: -100px;
	transform: rotateZ(30deg);
	z-index: 1;
	filter: drop-shadow(0 0 10px rgba(128, 128, 128, 0.336));
	/* border: 2px solid red; */
}
.connectivity__compatibility::after
{
	content: "";
	background: url("../../../img/features/earbud.png") no-repeat center;
	background-size: contain;
	width: 30%;
	height: 100%;
	position: absolute;
	bottom: 40px;
	right: -100px;
	transform: rotateZ(-30deg) scaleX(-1);
	z-index: 1;
	filter: drop-shadow(0 0 10px rgba(128, 128, 128, 0.336));
	/* border: 2px solid red; */
}
.connectivity__compatibility
{
	margin-top: 3rem;
	width: 500px;
	/* border: 2px solid red; */
	position: relative;
}
.compatibility__image
{
	border-radius: 7px;
	width: 100%;
	border: 1px solid var(--primary-light);
}

.connectivity__buy--btn:hover
{
	cursor: pointer;
}
.connectivity__buy--btn
{
	margin-top: 1rem;
	border-radius: 7px;
	background-color: var(--primary);
	/* width: 100px; */
	padding: 3px 15px;
	text-transform: capitalize;
	color: var(--white);

}