@media screen and (max-width: 767px) {
	.login__page--box
	{
		padding: 1rem 0;
		/* border: 2px solid red; */
		width: 95%;
	}
	.login__page--form
	{
		/* border: 2px solid red; */
		padding: 0.5rem;
		width: 100%;
	}
	.login__email--container, .login__pw--container, .login__page--signup--redirect, .signup__redirect
	{
		width: 100%;
	}
	.login__identifier, .login__pw, .login__btn--submit, .login__signup--btn
	{
		height: 50px;
		width: 100%;
	}
}