@media screen and (max-width: 767px) {
	.cart__page--box
	{
		min-height: 30vh;
		/* border: 2px solid red; */
		padding: 1rem;
	}
	.cart__page--title
	{
		/* border: 2px solid green; */
		font-size: var(--mobile-subtitle) !important;
	}
	.empty__cart--container
	{
		width: 80%;
		/* border: 2px solid green; */
		padding: 0.5rem;
		/* width: 100%; */
		position: static;
		transform: translateX(0%) translateY(0%);
	}
	.empty__cart--title
	{
		font-size: var(--mobile-subtitle) !important;
	}
	.empty__cart--action
	{
		font-size: var(--mobile-mini-paragraph) !important;
	}
	.filled__cart--container
	{
		/* border: 2px solid red; */
		flex-direction: column;
		width: 90%;
		padding: 1rem;
		margin-top: 1rem;
	}
	.item__image
	{
		height: 80px;
	}
	.item--action
	{
		width: 100%;
		justify-content: space-between;
	}
	.item__name, .item__price, .quantity__title
	{
		font-size: var(--mobile-mini-paragraph) !important;
	}
	.item--info
	{
		gap: 0.5rem;
		/* border: 2px solid red; */
	}
	.item--content
	{
		width: 100%;
		/* border: 2px solid red; */
		flex-direction: column;
		gap: 1rem;
	}
	.item--order, .item--delete, .cart__order--link
	{
		height: 40px;
		width: 100%;
	}
}
