.card {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	width: 16rem;
	height: fit-content;
	padding: 0 2rem 2rem 2rem;
	border-radius: 10px;
	/* border: 2px solid red; */
}

.card img {
	margin-top: -20%;
	width: 100%;
	border-radius: 20px;
}

.card h2 {
	margin: 0;
	margin-top: 1rem;
}

.card p {
	margin: 0;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

.card .btnn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.testimonial__person 
{
	width: 140px;
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100px;
	border: 10px solid var(--bg);
}

.testimonial__card:hover
{
	cursor: pointer;
}
.testimonial__card
{
	position: relative;
	width: 420px;
	height: 340px;
	border: 2px solid var(--line);
	background-color: var(--white);
	border-radius: 70px;
	text-align: justify;
	padding: 5px;
	/* border: 2px solid red; */
}
.double__quote--up--box, .double__quote--down--box
{
	width: 90%;
	/* border: 2px solid red; */
	justify-content: flex-start;
	align-items: center;
}
.double__quote--up, .double__quote--down
{
	width: 30px;
	/* border: 2px solid red; */
}
.double__quote--up--box
{
	margin-top: 5rem;
}
.double__quote--down--box
{
	justify-content: flex-end;
	align-items: center;
}
.double__quote--down
{
	transform: scale(-1);
}
.testimonial__content
{
	width: 70%;
	color: var(--dark-grey-text);
}
.testimonial__full--name
{
	/* margin-top: 20px; */
}
.testimonial__profession
{
	color: var(--grey-text);
}
.case__belt
{
	position: absolute;
	width: 100%;
	height: 40px;
	/* border: 2px solid green; */
	top: 70px;
	background: url("../../../img/testimonial_img/case_belt.png") no-repeat center;
}