.card {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	width: 16rem;
	height: fit-content;
	padding: 0 2rem 2rem 2rem;
	border-radius: 10px;
	/* border: 2px solid red; */
}

.card img {
	margin-top: -20%;
	width: 100%;
	border-radius: 20px;
}

.card h2 {
	margin: 0;
	margin-top: 1rem;
}

.card p {
	margin: 0;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

.card .btnn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.testimonial__person 
{
	width: 140px;
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100px;
	border: 10px solid var(--bg);
	/* border: 10px solid var(--white); */
}

.testimonial__card:hover
{
	cursor: pointer;
	box-shadow: 0 20px 25px rgb(0 0 0 / 15%), inset 6px 6px 20px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5) !important;
}
.testimonial__card
{
	position: relative;
	width: 420px;
	height: 340px;
	/* border: 1px solid var(--line); */
	background-color: var(--white);
	border-radius: 80px;
	text-align: justify;
	padding: 5px;
	/* border: 2px solid red; */
	box-shadow: 0 20px 25px rgb(0 0 0 / 10%), inset 6px 6px 25px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5) !important;
}
.double__quote--up--box, .double__quote--down--box
{
	width: 90%;
	/* border: 2px solid red; */
	justify-content: flex-start;
	align-items: center;
}
.double__quote--up, .double__quote--down
{
	width: 30px;
	/* border: 2px solid red; */
}
.double__quote--up--box
{
	margin-top: 5rem;
}
.double__quote--down--box
{
	justify-content: flex-end;
	align-items: center;
}
.double__quote--down
{
	transform: scale(-1);
}
.testimonial__content
{
	width: 70%;
	color: var(--dark-grey-text);
}
.testimonial__full--name
{
	/* margin-top: 20px; */
}
.testimonial__profession
{
	color: var(--grey-text);
}
.case__belt
{
	position: absolute;
	width: 100%;
	height: 20px;
	/* border: 2px solid green; */
	top: 80px;
	background: url("../../../img/testimonial_img/case_belt.png") no-repeat center;
	filter: drop-shadow(0 -1px 0px rgb(154, 154, 154)) brightness(1.1);
}
.css-1qzevvg img
{
	margin-top: -70px !important;
	z-index: 5 !important;
	opacity: 0.7 !important;
}
.css-1qzevvg :first-child
{
	/* border: 2px solid red !important; */
	/* transform: translateX(-50%) !important; */
}
.css-1qzevvg :last-child
{
	/* border: 2px solid blue !important; */
}






/* CSS for Mobile View */
@media screen and (max-width: 767px) {
	.testimonial__person 
	{
		width: 100px;
		top: -50px;
		/* border: 10px solid var(--white); */
	}
	.testimonial__card
	{
		width: 85vw;
		height: 73vw;
		/* border: 1px solid var(--line); */
		border-radius: 24%;
		text-align: justify;
		padding: 2px;
		/* border: 2px solid red; */
	}
	.double__quote--up--box, .double__quote--down--box
	{
		display: none !important;
		/* border: 2px solid red; */
	}
	.double__quote--up, .double__quote--down
	{
		display: none !important;
		/* border: 2px solid red; */
	}
	.testimonial__content
	{
		width: 80%;
		margin-top: 4rem;
		font-size: 15px !important;
	}
	.testimonial__full--name
	{
		margin-top: 5px;
		font-size: var(--mobile-subtitle) !important;
	}
	.testimonial__profession
	{
		display: none;
	}
	.case__belt
	{
		position: absolute;
		width: 100%;
		height: 15px;
		/* border: 2px solid green; */
		top: 25%;
	}
	.css-1qzevvg img
	{
		margin-top: -70px !important;
		z-index: 5 !important;
	}
	.css-1qzevvg :first-child
	{
		/* border: 2px solid red !important; */
		position: absolute;
		left: calc(50% - 2rem);
		transform: translateX(calc(-50% - 2rem)) !important;
	}
	.css-1qzevvg :last-child
	{
		position: absolute;
		left: calc(50% + 2rem);
		transform: translateX(calc(-50%)) !important;
		/* border: 2px solid blue !important; */
	}
}